<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="MessageServiceBehave">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="debug" name="WCFConsoleSelfHost.SecurityNone">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig"
          contract="WCFConsoleSelfHost.ISecurityNone">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://vdi-v-tazho:8523/QuafuCommsService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFConsoleSelfHost.DownloadService">
        <endpoint address="DownloadService" binding="netTcpBinding" bindingConfiguration="netTcp"
          contract="WCFConsoleSelfHost.IDownloadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address=" " binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="DownloadService/http" binding="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8456" />
            <add baseAddress="http://localhost:8081" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFConsoleSelfHost.StartStopService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFConsoleSelfHost.IStartStopService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WCFConsoleSelfHost/StartStopService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFConsoleSelfHost.WCFTest">
        <endpoint address="" binding="basicHttpBinding" contract="WCFConsoleSelfHost.IWCFTest">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WCFConsoleSelfHost/WCFTest/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFConsoleSelfHost.WCFDebugBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WCFConsoleSelfHost.IWCFDebugBehavior">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WCFConsoleSelfHost/WCFDebugBehavior/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MessageServiceBehave" name="WCFConsoleSelfHost.WCFInAzure">
        <endpoint address="http://localhost:9001/MessageService" binding="wsDualHttpBinding"
          name="HttpMessageService" contract="WCFConsoleSelfHost.IWCFInAzure" />
        <endpoint address="net.tcp://localhost:9002/MessageService" binding="netTcpBinding"
          name="TCPMessageService" contract="WCFConsoleSelfHost.IWCFInAzure" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/MessageService" />
            <add baseAddress="net.tcp://localhost:9002/MessageService" />
          </baseAddresses>
        </host>
      </service>
      <!--<service name="WCFConsoleSelfHost.WCFCustomBinding">
        <endpoint address="" binding="customBinding" bindingConfiguration="CustomBindingName" contract="WCFConsoleSelfHost.IWCFCustomBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8735/WCFConsoleSelfHost/WCFCustomBinding/" />
          </baseAddresses>
        </host>
      </service>-->
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" >
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" name="netTcp">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="CustomBindingName">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false">
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport useDefaultWebProxy="false" requireClientCertificate="true" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>