<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCFAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDbOperation" />
                <binding name="BasicHttpBinding_ITimeOut">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISample" />
                <binding name="BasicHttpBinding_IWCFBaseClass" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IStartStopService" />
                <binding name="BasicHttpBinding_IWCFTest" />
                <binding name="BasicHttpBinding_IWCFDataTable" />
                <binding name="BasicHttpBinding_IWCFDebugBehavior" />
                <binding name="BasicHttpBinding_ITimeOut1" sendTimeout="00:00:10" />
                <binding name="BasicHttpBinding_IService12" />
                <binding name="GestioneCheckinV1ImplServiceSoapBinding">
                  <security mode="Transport">
                    <transport clientCredentialType="None"/>
                  </security>
                </binding>
                <binding name="GestioneCheckinV1ImplServiceSoapBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IService1">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiated"
                        requireDerivedKeys="true" includeTimestamp="false" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCFDuplexNetTcp" />
                <binding name="NetTcpBinding_IWCFSecurityMode">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IWCFSecurityModeNone">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ISecurityNone">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IDownloadService" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWCFAsync" sendTimeout="00:00:05">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="https">
            <clientCredentials>
              <clientCertificate findValue="vdi-v-tazho.fareast.corp.microsoft.com" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" />
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <client>
            <endpoint address="http://localhost:40696/DbOperation.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDbOperation" contract="DbOperationService.IDbOperation"
                name="BasicHttpBinding_IDbOperation" />
            <endpoint address="https://vdi-v-tazho.fareast.corp.microsoft.com:444/WCFTimeOut/TimeOut.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimeOut"
                contract="TimeOutService.ITimeOut" name="BasicHttpBinding_ITimeOut" />
            <endpoint address="https://vdi-v-tazho.fareast.corp.microsoft.com:444/WCFTimeOut/TimeOut.svc/error"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimeOut"
                contract="TimeOutService.ITimeOut" name="BasicHttpBinding_ITimeOut1" />
            <endpoint address="net.tcp://vdi-v-tazho.fareast.corp.microsoft.com/WCFDuplexNetTcp/WCFDuplexNetTcp.svc/tcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFDuplexNetTcp"
                contract="WCFDuplexNetTcpService.IWCFDuplexNetTcp" name="NetTcpBinding_IWCFDuplexNetTcp">
                <identity>
                    <servicePrincipalName value="host/vdi-v-tazho.fareast.corp.microsoft.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:62762/SampleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISample"
                contract="SampleServiceReference.ISample" name="BasicHttpBinding_ISample" />
            <endpoint address="http://localhost:45446/WCFBaseClass.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFBaseClass" contract="WCFBaseClassService.IWCFBaseClass"
                name="BasicHttpBinding_IWCFBaseClass" />
            <endpoint address="net.tcp://vdi-v-tazho.fareast.corp.microsoft.com/WCFSecurityMode/WCFSecurityMode.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFSecurityMode"
                contract="WCFSecurityModeReference.IWCFSecurityMode" name="NetTcpBinding_IWCFSecurityMode">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://vdi-v-tazho.fareast.corp.microsoft.com/WCFSecurityModeNone/WCFSecurityModeNone.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFSecurityModeNone"
                contract="WCFSecurityModeNoneReference.IWCFSecurityModeNone"
                name="NetTcpBinding_IWCFSecurityModeNone">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://vdi-v-tazho:8523/QuafuCommsService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecurityNone"
                contract="SecurityNoneService.ISecurityNone" name="NetTcpBinding_ISecurityNone">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8456/DownloadService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDownloadService"
                contract="DownloadServiceReference.IDownloadService" name="NetTcpBinding_IDownloadService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/WCFHttpOrHttps/Service1.svc/http"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="WCFHttp.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="https://vdi-v-tazho.fareast.corp.microsoft.com/WCFHttpOrHttps/Service1.svc/https"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
                contract="WCFHttp.IService1" name="BasicHttpBinding_IService11" />
            <endpoint address="http://localhost:1045/WCFAsync.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IWCFAsync" contract="WCFAsyncServiceReference.IWCFAsync"
                name="WSHttpBinding_IWCFAsync" />
            <endpoint address="http://localhost:8733/WCFConsoleSelfHost/StartStopService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStartStopService"
                contract="StartStopServiceReference.IStartStopService" name="BasicHttpBinding_IStartStopService" />
            <endpoint address="http://localhost:8733/WCFConsoleSelfHost/WCFTest/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFTest"
                contract="WCFTestServiceReference.IWCFTest" name="BasicHttpBinding_IWCFTest" />
            <endpoint address="http://localhost:9996/WCFDataTable.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFDataTable" contract="WCFDataTableService.IWCFDataTable"
                name="BasicHttpBinding_IWCFDataTable" />
            <endpoint address="http://localhost:8733/WCFConsoleSelfHost/WCFDebugBehavior/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFDebugBehavior"
                contract="WCFDebugBehaviorReference.IWCFDebugBehavior" name="BasicHttpBinding_IWCFDebugBehavior" />
            <endpoint address="https://localhost:44324/Service1.svc" binding="customBinding"
                bindingConfiguration="CustomBinding_IService1" contract="WCFCusBindingService.IService1"
                name="CustomBinding_IService1" />
            <endpoint address="http://localhost/WCFTimeOut/TimeOut.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITimeOut1" contract="WCFTimeOut.ITimeOut"
                name="BasicHttpBinding_ITimeOut2" />
            <endpoint address="http://localhost/WCFTimeOut/TimeOut.svc/error"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimeOut1"
                contract="WCFTimeOut.ITimeOut" name="BasicHttpBinding_ITimeOut11" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFLib/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
                contract="WCFLibService.IService1" name="BasicHttpBinding_IService12" />
            <endpoint address="https://rerprod.turitweb.it/ws/checkinV1"
                binding="basicHttpBinding" bindingConfiguration="GestioneCheckinV1ImplServiceSoapBinding"
                contract="WCFClientAuth.GestioneCheckinV1Impl" name="GestioneCheckinV1ImplPort" />
        </client>
      
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\Edward\Project\WCF2017\WCF2017\WCFAPI\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <applicationSettings>
    <WCFAPI.Properties.Settings>
      <setting name="WCFAPI_ASMXService_WebService1" serializeAs="String">
        <value>http://localhost:37955/WebService1.asmx</value>
      </setting>
      <setting name="WCFAPI_WCFAuthAsmx_GestioneCheckinV1ImplService"
        serializeAs="String">
        <value>https://rerprod.turitweb.it/ws/checkinV1</value>
      </setting>
    </WCFAPI.Properties.Settings>
  </applicationSettings>
</configuration>