<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCFDuplexNetTcp" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://vdi-v-tazho.fareast.corp.microsoft.com/WCFDuplexNetTcp/WCFDuplexNetTcp.svc/tcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFDuplexNetTcp"
                contract="WCFDuplexNetTcpService.IWCFDuplexNetTcp" name="NetTcpBinding_IWCFDuplexNetTcp">
                <identity>
                    <servicePrincipalName value="host/vdi-v-tazho.fareast.corp.microsoft.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:2258/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="WCFFaultService.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>